h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  list-style: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: auto;
}

svg {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section2 {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.webstudio-main {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
  margin-right: 93px;
}

.studio {
  color: #000000;
}

.webstudio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
  display: inline-block;
}

.studio-footer {
  color: #FFFFFF;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.menu__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #212121;
  position: relative;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}

.current {
  color: #2196F3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.contact-list {
  display: flex;
  column-gap: 50px;
}
.contact-list .contact-list_logo {
  cursor: pointer;
}
.contact-list_logo:hover, .contact-list_logo:focus {
  fill: #2196F3;
}

.contact-list__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  gap: 10px;
  fill: currentColor;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: #2196F3;
}

.title {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
  background: rgba(47, 48, 58, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}

.hero {
  width: 700px;
}

.head {
  background: #FFFFFF;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.hero__button {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.benefits {
  display: flex;
  column-gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.benefits__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__text {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: #757575;
  margin-top: 10px;
}

.activity__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.activity__image {
  position: relative;
}

.activity__image-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background: #F5F4FA;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list__item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-content {
  padding: 30px;
}

.team-content__job {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.team-content__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social-list__link--color {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.customers-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.customers-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.customers-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover,
.customers-list__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.address__contact:hover,
.address__contact:focus {
  color: #2196F3;
}

.address__contact {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
}

.address__link {
  font-family: "Roboto", sans-serif;
  line-height: 1.7px;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item {
  margin-bottom: 9px;
}

.address__item--map {
  margin-top: 20px;
}

.join {
  margin-left: 70px;
  margin-right: 93px;
}

.join__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
  gap: 10px;
}

.form-footer__label input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 10px;
  outline: none;
}

.form-footer__mail {
  width: 358px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: block;
}

.form-footer__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  width: 200px;
  height: 50px;
  display: flex;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__button:hover,
.form-footer__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-footer__button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 3px;
  fill: #FFFFFF;
}

/*----------------------------------MODAL WINDOW--------------------------*/
.beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  height: 581px;
  width: 528px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close-btn {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal-window__close-btn:focus {
  fill: #2196F3;
}

.form-modal {
  padding: 40px;
}

.form-modal__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #212121;
  text-align: center;
}

.input-box {
  margin-top: 10px;
}

.input-box__label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-box__container {
  position: relative;
  margin-top: 4px;
}

.input-box__container input::placeholder {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input-box__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  cursor: pointer;
}

.input-box__input:focus {
  border-color: #2196F3;
}

.input-box__input:focus + .input-box__icon {
  fill: #2196F3;
}

.input-box__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box__textarea {
  display: block;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  outline: none;
  cursor: pointer;
  margin-top: 4px;
}

.input-box__textarea:focus {
  border-color: #2196F3;
}

#comments {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.checkbox {
  margin-bottom: 30px;
  padding-left: 13px;
  margin-top: 20px;
}

.checkbox__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 7px;
}

.checkbox__label span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196F3;
  border: 2px solid #2196F3;
}

.checkbox__svg {
  background: transparent;
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.71;
  color: #2196F3;
  position: relative;
}

.checkbox__link::after {
  position: absolute;
  content: "";
  bottom: 5px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #2196F3;
}

.buton-modal-send {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buton-modal-send:hover, .buton-modal-send:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-item {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}

.portfolio-item__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item__btn:hover,
.portfolio-item__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-interactive {
  display: block;
  position: relative;
  text-decoration: none;
}
.card-interactive:hover .card-interactive__text, .card-interactive:focus .card-interactive__text {
  transform: translateY(0%);
  background: rgba(33, 150, 243, 0.9);
}
.card-interactive:hover, .card-interactive:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-interactive__transform {
  position: relative;
  overflow: hidden;
}

.card-interactive__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  padding: 64px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-projects {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.name-projects__work {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  margin-top: 4px;
}

.name-projects__proect {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}/*# sourceMappingURL=main.css.map */