.checkbox {
    margin-bottom: 30px;
    margin-top: 20px;
    @include desktop {
padding-left: 13px;
    }
}

.checkbox__label {
    font-size: 12px;
    line-height: 1.16;
    color: $secondary-text-color;
    display: flex;
    align-items: center;
    gap: 7px;
    @include desktop {
font-size: 14px;
    line-height: 1.71;
    }
}

.checkbox__label span {
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__input:checked+.checkbox__icon {
    background-color: $color-btn-text;
    border: 2px solid $color-btn-text;
}

.checkbox__svg {

    background: transparent;
}

.checkbox__link {
    font-size: 12px;
    line-height: 1.16;
    color: $color-btn-text;
    position: relative;
    @include desktop {
            font-size: 14px;
            line-height: 1.71;
        }
}

.checkbox__link::after {
    position: absolute;
    content: "";
    bottom: 1px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $color-btn-text;
    @include desktop {
            bottom: 5px;
        }

}