.webstudio-main {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $color-btn-text;
    margin-right: 93px;
}

.studio {
    color: $color-studiologo;
}

.webstudio-footer {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $color-btn-text;
    display: inline-block;
}

.studio-footer {
    color: $primary-text-color-theme-blew;
}