
    $primary-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $primary-text-color-theme-blew: #FFFFFF;
    $color-btn-text: #2196F3;
    $color-btn2: #188CE8;
    $color-main-fone: #2F303A;
    $color-studiologo: #000000;
    $fone-btn-section: #F5F4FA;
